<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Добавить машину - rent</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
<div th:insert="blocks/nav :: nav"></div>
<main class="page product-page">
    <section class="clean-block clean-product dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Добавить</h2>
            </div>
            <div class="block-content">
                <form action="/cars/add" method="post" enctype="multipart/form-data">
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <div class="row d-xl-flex">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Название</p>
                                </div>
                                <div class="col"><input class="form-control" type="text" required="" name="name"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Цена за день</p>
                                </div>
                                <div class="col"><input class="form-control" type="number" value="1" min="1" max="500"
                                                        step="1" required="" name="price"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <div class="row d-xl-flex">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Тип кузова</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="bodyType">
                                        <option th:each="b : ${bodyTypes}" th:value="${b}"
                                                th:label="${b.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Объем двигателя</p>
                                </div>
                                <div class="col"><input class="form-control" type="number" value="1" min="1" max="5000"
                                                        step="1" required="" name="capacity"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <div class="row d-xl-flex">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Вид топлива</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="fuel">
                                        <option th:each="f : ${fuels}" th:value="${f}" th:label="${f.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Коробка передач</p>
                                </div>
                                <div class="col">
                                    <select class="form-select" name="transmission">
                                        <option th:each="t : ${transmissions}" th:value="${t}"
                                                th:label="${t.name}"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <div class="row d-xl-flex">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Средний расход на 100км</p>
                                </div>
                                <div class="col"><input class="form-control" type="number" value="1" min="1" max="25"
                                                        step="1" required="" name="average"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-xl-4 d-xl-flex">
                                    <p>Фотография</p>
                                </div>
                                <div class="col"><input class="form-control" type="file" multiple="" required=""
                                                        accept="image/*" name="photos"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <div class="row d-xl-flex">
                                <div class="col-xl-2 d-xl-flex">
                                    <p>Описание</p>
                                </div>
                                <div class="col"><input class="form-control" type="text" required="" name="description">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <div class="col">
                            <button class="btn btn-primary" type="submit" style="margin-right: 15px;">Добавить</button>
                            <button class="btn btn-secondary" type="reset">Очистить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>
<footer th:insert="blocks/footer :: footer" class="page-footer dark mt-auto"></footer>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>