<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Арендованные - rent</title>
</head>

<head th:insert="blocks/head :: head"></head>

<body class="d-flex flex-column min-vh-100">
<div th:insert="blocks/nav :: nav"></div>
<main class="page catalog-page">
    <section class="clean-block clean-catalog dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Арендованные</h2>
            </div>
            <div class="content">
                <div class="row g-0">
                    <div th:each="c : ${cars}" class="col-12 col-md-6 col-lg-4 col-xl-3">
                        <div class="clean-product-item">
                            <div class="image">
                                <a th:href="'/cars/' + ${c.id}">
                                    <img class="img-fluid d-block mx-auto" th:src="'/img/' + ${c.photos[0]}">
                                </a>
                            </div>
                            <div class="product-name"><a th:href="'/cars/' + ${c.id}" th:text="${c.name}"></a></div>
                            <div class="product-name">
                                <a class="btn" role="button" th:href="'/cars/return/' + ${c.id}">Вернуть</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<footer th:insert="blocks/footer :: footer" class="page-footer dark mt-auto"></footer>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/vanilla-zoom.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>